# Quick start `klifs_utils` - work with KLIFS data

In [ ]:
%load_ext autoreload
%autoreload 2

In [2]:
import klifs_utils as klifs

## Remote data

### Kinases

In [3]:
klifs.remote.kinases.kinase_groups()

['AGC', 'CAMK', 'CK1', 'CMGC', 'Other', 'STE', 'TK', 'TKL']

In [4]:
klifs.remote.kinases.kinase_families(kinase_group='CMGC')

['CDK', 'CDKL', 'CK2', 'CLK', 'DYRK', 'GSK', 'MAPK', 'RCK', 'SRPK']

In [5]:
# Or get all kinase families
len(klifs.remote.kinases.kinase_families())

144

In [6]:
klifs.remote.kinases.kinase_names()

,kinase_ID,name,full_name,species
0,813,4921509C19Rik,RIKEN cDNA 4921509C19 gene,Mouse
1,815,4921509C19Rik,RIKEN cDNA 4921509C19 gene,Mouse
2,814,4921509C19Rik,RIKEN cDNA 4921509C19 gene,Mouse
3,531,Aak1,AP2 associated kinase 1,Mouse
4,277,AAK1,AP2 associated kinase 1,Human
...,...,...,...,...
1122,1061,Zak,sterile alpha motif and leucine zipper contain...,Mouse
1123,1062,Zap70,zeta-chain (TCR) associated protein kinase,Mouse
1124,471,ZAP70,zeta chain of T cell receptor associated prote...,Human
1125,529,A6,0,Mouse
1126,530,A6r,0,Mouse

In [7]:
klifs.remote.kinases.kinase_from_kinase_name('Aak1')

,kinase_ID,name,HGNC,family,group,kinase_class,species,full_name,uniprot,iuphar,pocket
0,531,AAK1,Aak1,NAK,Other,,Mouse,AP2 associated kinase 1,Q3UHJ0,0,EVLAEGGFALVFLCALKRMVCKREIQIMRDLSKNIVGYIDSLILMD...
1,277,AAK1,AAK1,NAK,Other,BIKE,Human,AP2 associated kinase 1,Q2M2I8,1921,EVLAEGGFAIVFLCALKRMVCKREIQIMRDLSKNIVGYIDSLILMD...

In [8]:
klifs.remote.kinases.kinase_from_kinase_ids([533, 531])

,ligand_id,kinase_ID,name,HGNC,family,group,kinase_class,species,full_name,uniprot,iuphar,pocket
0,533,533,ACK,Tnk2,Ack,TK,,Mouse,"tyrosine kinase, non-receptor, 2",O54967,0,EKLGDGSFGVVRRVAVKCLDFIREVNAMHSLDRNLIRLYGVKMVTE...
0,531,531,AAK1,Aak1,NAK,Other,,Mouse,AP2 associated kinase 1,Q3UHJ0,0,EVLAEGGFALVFLCALKRMVCKREIQIMRDLSKNIVGYIDSLILMD...

### Ligands

In [9]:
klifs.remote.ligands.ligand_ids(33)

,kinase_id,ligand_ID,PDB-code,Name,SMILES,InChIKey
0,33,920,LW4,3-(1H-indol-3-yl)-4-[2-(4-methylpiperazin-1-yl...,O=C1NC(=O)C(=C1c2nc(nc3c2cccc3)N4CCN(CC4)C)C=5...,OAVGBZOFDPFGPJ-UHFFFAOYSA-N
1,33,921,3KZ,"(1R)-9-[(3S,4S)-1,3-dimethylpiperidin-4-yl]-8-...",Fc1c(c2c(cc3N4C(=NNC(=O)[C@H]4C)COc3c2)[C@@H]5...,BLWOBXIQFDYTRF-OAGGEKHMSA-N

In [10]:
klifs.remote.ligands.structure_ids(ligand_ids=101)

,ligand_id,structure_ID,kinase,species,kinase_ID,pdb,alt,chain,rmsd1,rmsd2,...,bp_I_A,bp_I_B,bp_II_in,bp_II_A_in,bp_II_B_in,bp_II_out,bp_II_B,bp_III,bp_IV,bp_V
0,101,298,NEK2,Human,286,2xkd,B,A,0.735,2.066,...,False,False,False,False,False,False,False,False,False,False
1,101,330,NEK2,Human,286,2xkd,A,A,0.735,2.066,...,False,False,False,False,False,False,False,False,False,False

### Interactions

In [11]:
klifs.remote.interactions.interaction_types()

  position                              name
0        1                    Apolar contact
1        2             Aromatic face-to-face
2        3             Aromatic edge-to-face
3        4     Hydrogen bond donor (protein)
4        5  Hydrogen bond acceptor (protein)
5        6     Protein cation - ligand anion
6        7     Protein anion - ligand cation

In [12]:
klifs.remote.interactions.interaction_fingerprint([33, 34, 35])

   structure_ID                                                IFP
0            33  0000000000000010000001000000000000000000000000...
1            34  0000000000000010000000000000000000000000000000...
2            35  0000000000000010000001000000000000000000000000...

In [13]:
klifs.remote.interactions.klifs_pocket_numbering(33)

    index Xray_position KLIFS_position
0       1           367            I.1
1       2           368            I.2
2       3           369            I.3
3       4           370          g.l.4
4       5           371          g.l.5
..    ...           ...            ...
80     81           500        xDFG.81
81     82             _        xDFG.82
82     83             _        xDFG.83
83     84             _         a.l.84
84     85             _         a.l.85

[85 rows x 3 columns]

### Structures

#### Structure details (metadata)

#### ... by KLIFS structure ID(s)

In [14]:
klifs.remote.structures.structures_from_structure_id(33)

,structure_ID,kinase,species,kinase_ID,pdb,alt,chain,rmsd1,rmsd2,pocket,...,bp_I_A,bp_I_B,bp_II_in,bp_II_A_in,bp_II_B_in,bp_II_out,bp_II_B,bp_III,bp_IV,bp_V
0,33,ITK,Human,474,1snu,,B,0.746,2.124,QEIGSGQFGLVHLVAIKTIDFIEEAEVMMKLSPKLVQLYGVCLVFE...,...,False,False,False,False,False,False,False,False,False,False

In [15]:
klifs.remote.structures.structures_from_structure_id([33, 34])

,structure_ID,kinase,species,kinase_ID,pdb,alt,chain,rmsd1,rmsd2,pocket,...,bp_I_A,bp_I_B,bp_II_in,bp_II_A_in,bp_II_B_in,bp_II_out,bp_II_B,bp_III,bp_IV,bp_V
0,33,ITK,Human,474,1snu,,B,0.746,2.124,QEIGSGQFGLVHLVAIKTIDFIEEAEVMMKLSPKLVQLYGVCLVFE...,...,False,False,False,False,False,False,False,False,False,False
1,34,ITK,Human,474,4mf1,B,A,0.845,2.053,QEIGSG__GLVHLVAIKTIDFIEEAEVMMKLSPKLVQLYGVCLVFE...,...,False,False,False,False,False,False,False,False,False,False

#### ... by KLIFS kinase ID(s)

In [16]:
klifs.remote.structures.structures_from_kinase_id(22)

,structure_ID,kinase,species,kinase_ID,pdb,alt,chain,rmsd1,rmsd2,pocket,...,bp_I_A,bp_I_B,bp_II_in,bp_II_A_in,bp_II_B_in,bp_II_out,bp_II_B,bp_III,bp_IV,bp_V
0,7085,MASTL,Human,22,5loh,B,A,0.827,1.960,KPIS____GKVYLYAVKVV________LALSKPFIVHLYYSYLVME...,...,False,False,False,False,False,False,False,False,False,False
1,7086,MASTL,Human,22,5loh,A,A,0.827,1.960,KPIS____GKVYLYAVKVV________LALSKPFIVHLYYSYLVME...,...,False,False,False,False,False,False,False,False,False,False
2,7087,MASTL,Human,22,5loh,B,B,0.820,2.175,KPISRGAFGKVYLYAVKVV_________ALSKPFIVHLYYSYLVME...,...,False,False,False,False,False,False,False,False,False,False
3,7088,MASTL,Human,22,5loh,A,B,0.820,2.175,KPISRGAFGKVYLYAVKVV_________ALSKPFIVHLYYSYLVME...,...,False,False,False,False,False,False,False,False,False,False

In [17]:
klifs.remote.structures.structures_from_kinase_id([22, 23])

,structure_ID,kinase,species,kinase_ID,pdb,alt,chain,rmsd1,rmsd2,pocket,...,bp_I_A,bp_I_B,bp_II_in,bp_II_A_in,bp_II_B_in,bp_II_out,bp_II_B,bp_III,bp_IV,bp_V
0,7085,MASTL,Human,22,5loh,B,A,0.827,1.960,KPIS____GKVYLYAVKVV________LALSKPFIVHLYYSYLVME...,...,False,False,False,False,False,False,False,False,False,False
1,7086,MASTL,Human,22,5loh,A,A,0.827,1.960,KPIS____GKVYLYAVKVV________LALSKPFIVHLYYSYLVME...,...,False,False,False,False,False,False,False,False,False,False
2,7087,MASTL,Human,22,5loh,B,B,0.820,2.175,KPISRGAFGKVYLYAVKVV_________ALSKPFIVHLYYSYLVME...,...,False,False,False,False,False,False,False,False,False,False
3,7088,MASTL,Human,22,5loh,A,B,0.820,2.175,KPISRGAFGKVYLYAVKVV_________ALSKPFIVHLYYSYLVME...,...,False,False,False,False,False,False,False,False,False,False

#### ... by PDB ID

In [18]:
klifs.remote.structures.structures_from_pdb_id('3w32')

,structure_ID,kinase,species,kinase_ID,pdb,alt,chain,rmsd1,rmsd2,pocket,...,bp_I_A,bp_I_B,bp_II_in,bp_II_A_in,bp_II_B_in,bp_II_out,bp_II_B,bp_III,bp_IV,bp_V
0,784,EGFR,Human,406,3w32,,A,0.83,2.177,KVLGSGAFGTVYKVAIKELEILDEAYVMASVDPHVCRLLGIQLITQ...,...,True,True,True,True,False,False,False,False,False,False

In [19]:
klifs.remote.structures.structures_from_pdb_id(['3w32', '3poz'])

,structure_ID,kinase,species,kinase_ID,pdb,alt,chain,rmsd1,rmsd2,pocket,...,bp_I_A,bp_I_B,bp_II_in,bp_II_A_in,bp_II_B_in,bp_II_out,bp_II_B,bp_III,bp_IV,bp_V
0,7308,EGFR,Human,406,3poz,,A,0.815,2.155,KVLGSGAFGTVYKVAIKELEILDEAYVMASVDPHVCRLLGIQLITQ...,...,True,True,True,True,False,False,False,False,False,False
1,784,EGFR,Human,406,3w32,,A,0.830,2.177,KVLGSGAFGTVYKVAIKELEILDEAYVMASVDPHVCRLLGIQLITQ...,...,True,True,True,True,False,False,False,False,False,False

#### Structural data

Load or download structural data from mol2 files.

In [22]:
klifs.remote.coordinates.structure(33, 'complex')

,atom_id,atom_name,x,y,z,atom_type,subst_id,subst_name,charge,backbone
0,1,N,14.4725,33.9701,39.3798,N.4,1,ILE358,1.000,BACKBONE
1,2,H1,15.2804,34.1248,39.9658,H,1,ILE358,0.000,BACKBONE
2,3,H2,14.4008,34.7151,38.7016,H,1,ILE358,0.000,BACKBONE
3,4,H3,14.5688,33.0864,38.9002,H,1,ILE358,0.000,BACKBONE
4,5,CA,13.2420,33.9462,40.2248,C.3,1,ILE358,0.000,BACKBONE
...,...,...,...,...,...,...,...,...,...,...
4134,4135,H41,-0.6488,12.7563,37.8643,H,323,STU621,0.450,None
4135,4136,C28,-1.5918,11.6383,39.2443,C.3,323,STU621,0.263,None
4136,4137,H281,-1.9384,11.7408,40.2726,H,323,STU621,0.080,None
4137,4138,H282,-0.8700,10.8238,39.1837,H,323,STU621,0.080,None
4138,4139,H283,-2.4399,11.4212,38.5949,H,323,STU621,0.080,None

In [23]:
klifs.remote.coordinates.structure(33, 'protein')

,atom_id,atom_name,x,y,z,atom_type,subst_id,subst_name,charge,backbone
0,1,N,14.4725,33.9701,39.3798,N.4,1,ILE358,1.0,BACKBONE
1,2,H1,15.2804,34.1248,39.9658,H,1,ILE358,0.0,BACKBONE
2,3,H2,14.4008,34.7151,38.7016,H,1,ILE358,0.0,BACKBONE
3,4,H3,14.5688,33.0864,38.9002,H,1,ILE358,0.0,BACKBONE
4,5,CA,13.2420,33.9462,40.2248,C.3,1,ILE358,0.0,BACKBONE
...,...,...,...,...,...,...,...,...,...,...
3829,3830,HG2,-30.9707,25.8386,33.0210,H,241,GLU617,0.0,None
3830,3831,HG3,-31.7246,24.5158,32.0991,H,241,GLU617,0.0,None
3831,3832,CD,-31.1778,26.2047,30.9470,C.2,241,GLU617,0.0,None
3832,3833,OE1,-30.8045,25.8357,29.8054,O.co2,241,GLU617,-0.5,None
3833,3834,OE2,-31.7400,27.2962,31.1878,O.co2,241,GLU617,-0.5,None

In [24]:
klifs.remote.coordinates.structure(33, 'pocket')

,atom_id,atom_name,x,y,z,atom_type,subst_id,subst_name,charge,backbone
0,1,N,7.2217,16.5654,51.5923,N.3,1,GLN367,0.000,BACKBONE
1,2,H,6.9393,17.3722,51.0544,H,1,GLN367,0.000,BACKBONE
2,3,CA,6.8224,15.2285,51.1651,C.3,1,GLN367,0.000,BACKBONE
3,4,HA,7.6298,14.5853,51.5151,H,1,GLN367,0.000,BACKBONE
4,5,C,6.7483,14.9679,49.6640,C.2,1,GLN367,0.000,BACKBONE
...,...,...,...,...,...,...,...,...,...,...
1273,1274,HB2,0.8410,17.3438,32.8277,H,81,ASP500,0.080,None
1274,1275,HB3,-0.2175,17.6889,34.2165,H,81,ASP500,0.080,None
1275,1276,CG,1.7209,16.9771,34.7300,C.2,81,ASP500,0.906,None
1276,1277,OD1,2.9479,16.9959,34.4805,O.co2,81,ASP500,-0.900,None
1277,1278,OD2,1.2218,16.3429,35.6880,O.co2,81,ASP500,-0.900,None

In [25]:
# Does not work yet!
klifs.remote.coordinates.structure(33, 'ligand')